* {
    font-family: sans-serif;
}

#root {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.pixel {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: blue;
}

.visited {
    background-color: red !important;
}